html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.filmContainer {
    display: flex;
    margin: 0 auto;
    border: 1px dotted;
    border-color: burlywood;
    flex-wrap: wrap;
    justify-content: space-between;
}

.film {
    flex-basis: 25%;
    margin: 20px;
}

button {
    border: 1px solid;
    border-radius:2px;
}