@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cinema!</h1>
    <img src="https://klike.net/uploads/posts/2022-09/1662373851_j-15.jpg" />
</div>
